* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(assets/bg.jpg);
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}

body * {
    font-family: 'Inter', sans-serif;
    line-height: 160%;
}

header {
    height: 120px;
    margin-top: 32px;
}

header div {
    width: 120px;
    margin: auto;
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #c20505 100% );
    border-radius: 50%;
    display: flex;
    padding: 3px;
    transition: transform .9s;
    animation: fromTop .9s .3s backwards;
}

header div img { 
    width: 100%;
    border-radius: 50%;
}

header div:hover {
    transform: scale(1.1);
}

main {
    width: 480px;
    margin: 32px auto;
    display: grid;
    gap: 24px;

}

@media (max-width: 600px) {
    main {
        width: 90%;
    }
}

main section {
    animation: fromBottom .9s backwards;
}

main section:nth-child(1) {
    animation-delay: 0s;
}

main section:nth-child(2) {
    animation-delay: .4s;
}

main section:nth-child(3) {
    animation-delay: .8s;
}

section {
    color: white;
    background-image: linear-gradient(90deg,#9572FC 0%, #43E7AD 50.52%, #c20505 100% );
    padding-top: 4px;
    border-radius: 10px;
}

section div {
    background-color: #2A2634;
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}

ul {
    list-style: none;
}

section ul {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 24px;
}

section ul li:hover {
    transform: scale(1.3);
    transition: transform 0.3s;
}

.games-list img {
    width: 90px;
    border-radius: 8px;
}

.channel-list img {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid ;
    border-color: #443e54;
    background-color: #2A2634;
}

@keyframes fromTop {
    from {
        opacity: 0;
        transform: translateY(-30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fromBottom {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to{
        opacity: 1;
        transform: translateY(0);
    }
}